html {
  background-color: #ccc0a8;
}

body {
  background-color: #ccc0a8;
}

#container {
  position: relative;
  width: 100%;
  max-width: 60rem;
}

#header {
  position: fixed;
  background-color: #6f292b;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 60rem;
  z-index: 1;
  vertical-align: middle;
}

#main {
  padding-top: 4rem;
  height: 100%;
}

#header-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

#hand-info {
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

#points {
  color: #c3a332;
}

#cardCount, #cardLimit {
  color: #995153;
}

span.separator {
  color: #995153;
}

#left {
  width: 10rem;
  float: left;
}

#right {
  margin-left: 10rem;
  background-color: #e9e3c6;
}

li.list-group-item {
  color: white;
  display: block;
  font-size: 0.9rem;
}

li.Land {
  background-color: #3b1d13;
}

span.land {
  color: #3b1d13;
}

li.Flood {
  background-color: #41437c;
}

span.flood {
  color: #41437c;
}

li.Weather {
  background-color: #a6bced;
}

span.weather {
  color: #a6bced;
}

li.Flame {
  background-color: #b44347;
}

span.flame {
  color: #b44347;
}

li.Army {
  background-color: #312b2f;
}

span.army {
  color: #312b2f;
}

li.Wizard {
  background-color: #e056a3;
}

span.wizard {
  color: #e056a3;
}

li.Leader {
  background-color: #7b48a4;
}

span.leader {
  color: #7b48a4;
}

li.Beast {
  background-color: #60a35c;
}

span.beast {
  color: #60a35c;
}

li.Weapon {
  background-color: #878586;
}

span.weapon {
  color: #878586;
}

li.Artifact {
  background-color: #d24e37;
}

span.artifact {
  color: #d24e37;
}

li.Wild {
  background-color: #c6c2c3;
}

span.wild {
  color: #c6c2c3;
}

#cards {
  background-color: #ccc0a8;
}

#cards .card-header, #hand .card-header {
  padding: 0.4rem;
  font-weight: bold;
  background-color: #ccc0a8;
  cursor: pointer;
}

#hand {
  background-color: #e9e3c6;
  padding: 0.4rem;
  height: 100%;
  font-weight: bold;
}

#cards li, #hand li {
  font-weight: bold;
  padding: 0.4rem;
  cursor: pointer;
}

#cards li {
  padding-right: 0;
}

#hand li.bonus, #hand li.penalty {
  background-color: #fffafa;
  color: grey;
  font-weight: normal;
  font-size: 0.8rem;
  cursor: auto;
  border: 0;
}

#hand li span {
  font-weight: bold;
}

#hand li.blanked {
  opacity: 0.4;
  filter: grayscale(100%);
}

#hand div.card {
  margin-bottom: 0.4rem;
}

span.badge-default {
  min-width: 1.5rem;
}

span.bonus {
  color: green;
}

span.penalty {
  color: red;
}

.cleared, .cleared:hover {
  text-decoration: line-through;
}

button {
  cursor: pointer;
}

#cards div.suit-selection {
  background-color: #aed77b;
}
