:root {
  --land-color: #3b1d13;
  --flood-color:  #41437c;
  --weather-color: #a6bced;
  --flame-color: #b44347;
  --army-color: #312b2f;
  --wizard-color: #e056a3;
  --leader-color: #7b48a4;
  --beast-color: #60a35c;
  --weapon-color: #878586;
  --artifact-color: #d24e37;
  --wild-color: #c6c2c3;
  --building-color: #463153;
  --outsider-color: #fba934;
  --undead-color: #004e4a;
  --cursed-item-color: #900c3f; 
  --header-border: 6px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc0a8;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/background.jpg');
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 60rem;
}

header {
  position: fixed;
  z-index: 1;
  background-color: #6f292b;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 60rem;
  vertical-align: middle;
}

header label {
  color: #ccc0a8;
}

main {
  padding-top: 4rem;
  min-height: 100%;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#header-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

#hand-info {
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

#points {
  color: #c3a332;
}

#cardCount, #cardLimit {
  color: #995153;
}

span.separator {
  color: #995153;
}

#left {
  width: 8rem;
  background-color: #ccc0a8;
}

#right {
  background-color: #e9e3c6;
  min-height: 100%;
  width: calc(100% - 8rem);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #e9e3c6;
}

#wizkids-logo {
  width: 8rem;
  background-color: #ccc0a8;
  text-align: center;
  padding: 0.5rem;
}

#legal-text {
  width: calc(100% - 8rem);
  font-size: x-small;
  text-align: center;
  color: #312b2f;
  margin-top: auto;
  margin-bottom: 5px;
}

li.list-group-item {
  color: white;
  display: block;
  font-size: 0.9rem;
}

li.land {
  background-color: var(--land-color);
}

span.land {
  color: var(--land-color);
}

#land-header {
  border-right: solid var(--land-color) var(--header-border);
}

li.flood {
  background-color: var(--flood-color);
}

span.flood {
  color: var(--flood-color);
}

#flood-header {
  border-right: solid var(--flood-color) var(--header-border);
}

li.weather {
  background-color: var(--weather-color);
}

span.weather {
  color: var(--weather-color);
}

#weather-header {
  border-right: solid var(--weather-color) var(--header-border);
}

li.flame {
  background-color: var(--flame-color);
}

span.flame {
  color: var(--flame-color);
}

#flame-header {
  border-right: solid var(--flame-color) var(--header-border);
}

li.army {
  background-color: var(--army-color);
}

span.army {
  color: var(--army-color);
}

#army-header {
  border-right: solid var(--army-color) var(--header-border);
}

li.wizard {
  background-color: var(--wizard-color);
}

span.wizard {
  color: var(--wizard-color);
}

#wizard-header {
  border-right: solid var(--wizard-color) var(--header-border);
}

li.leader {
  background-color: var(--leader-color);
}

span.leader {
  color: var(--leader-color);
}

#leader-header {
  border-right: solid var(--leader-color) var(--header-border);
}

li.beast {
  background-color: var(--beast-color);
}

span.beast {
  color: var(--beast-color);
}

#beast-header {
  border-right: solid var(--beast-color) var(--header-border);
}

li.weapon {
  background-color: var(--weapon-color);
}

span.weapon {
  color: var(--weapon-color);
}

#weapon-header {
  border-right: solid var(--weapon-color) var(--header-border);
}

li.artifact {
  background-color: var(--artifact-color);
}

span.artifact {
  color: var(--artifact-color);
}

#artifact-header {
  border-right: solid var(--artifact-color) var(--header-border);
}

li.wild {
  background-color: var(--wild-color);
}

span.wild {
  color: var(--wild-color);
}

#wild-header {
  border-right: solid var(--wild-color) var(--header-border);
}

li.building {
  background-color: var(--building-color);
}

span.building {
  color: var(--building-color);
}

#building-header {
  border-right: solid var(--building-color) var(--header-border);
}

li.outsider {
  background-color: var(--outsider-color);
}

span.outsider {
  color: var(--outsider-color);
}

#outsider-header {
  border-right: solid var(--outsider-color) var(--header-border);
}

li.undead {
  background-color: var(--undead-color);
}

span.undead {
  color: var(--undead-color);
}

#undead-header {
  border-right: solid var(--undead-color) var(--header-border);
}

li.cursed-item {
  background-color: var(--cursed-item-color);
}

span.cursed-item {
  color: var(--cursed-item-color);
}

#cursed-item-header {
  border-right: solid var(--cursed-item-color) var(--header-border);
}

#cards {
  background-color: #ccc0a8;
}

#cards .card-header, #hand .card-header, #discard .card-header {
  padding: 0.4rem;
  font-weight: bold;
  background-color: #ccc0a8;
  cursor: pointer;
}

#hand, #discard, #expansions {
  background-color: #e9e3c6;
  padding: 0.4rem;
  font-weight: bold;
}

#expansions {
  font-weight: normal;
  color: var(--army-color);
  font-size: small;
}

#discard {
  display: none;
}

#discard-header {
  height: 2.5rem;
}

#cards li, #hand li, #discard li {
  font-weight: bold;
  padding: 0.4rem;
  cursor: pointer;
}

#cards li {
  padding-right: 0;
}

#hand li.bonus, #hand li.penalty, #hand li.timing {
  background-color: #fffafa;
  color: grey;
  font-weight: normal;
  font-size: 0.8rem;
  border: 0;
}

#hand li.timing {
  padding-bottom: 0;
  margin-bottom: 0;
}

#hand li span {
  font-weight: bold;
}

#hand li.blanked {
  opacity: 0.4;
  filter: grayscale(100%);
}

#hand div.card, #discard div.card {
  margin-bottom: 0.4rem;
  cursor: pointer;
}

span.badge-default {
  min-width: 1.5rem;
}

span.bonus {
  color: green;
}

span.penalty {
  color: red;
}

.cleared, .cleared:hover {
  text-decoration: line-through;
}

button {
  cursor: pointer;
}

#cards div.suit-selection {
  background-color: #aed77b;
}
